svg {
  circle {
    stroke: #FF6600;
    stroke-width: 1px;
    fill: none;
    z-index: 10;
  }

  text {
    fill: #666;
    font-family: helvetica;
    font-size: 20px;
  }
  .countries {
    path {
      fill: #999;
    }
  }

  .slide text {
    font-size: 150px;
  }


  .axis {
    text {
      fill: #000;
    }
    line {
      stroke: #000;
      stroke-width: 3;
    }
  }
}
